:root{
    --c-primary:#92CCCD;
    --c-secondary:#31343D;
    --c-background: #EDEDF6;
    
}
*{
    color: var(--c-primary);
    font-family:Arial, Helvetica, sans-serif;
    background-color:var(--c-background);
    
}
a:link{
    color: var(--c-secondary);
    background-color: var(--c-primary);
}

body{
    margin: 0;
}
header{
    display: flex;
    justify-content: space-between;
    background-color: var(--c-secondary);
    font-family: 'Montserrat', sans-serif;
    max-height: 100px;
}    
header h1{
    text-align: center;
    display: flex;
    justify-content: end;
    background-color: var(--c-primary);
    color: var(--c-secondary); 
    padding: 10px;
   

}
header nav ul{
    display: flex;
    position: relative;
    right: 120px;
    top: 20px;
    background-color: var(--c-secondary);
    list-style: none;

}
nav ul li{
    background-color: var(--c-secondary);
}
nav{
    background-color: var(--c-secondary);
}

.nav-button{
    list-style: none;
    text-align: center;
    background-color: var(--c-secondary);
    padding: 3px;
    margin: 5px;
    text-decoration: underline 3px;
}
.hero{
    height: 200px;
    width: 100%;

}
.main-body{
    display: grid;
    grid-template-columns: 20% 80%;
    grid-template-rows: auto;
    margin: 20px;
    color: var(--c-secondary);
    
}
h2{
    font-size: 250%;
    display: flex;
    justify-content: end;
    
}
.project-box-grid{
    display: grid;
    grid-template-columns: 50% 50%;
    grid-template-rows: 33% 33% 33%;

}
.main-project-box{
    border: 1rem solid var(--c-primary);
    margin: 10px;
    grid-column-start: span 2;
    grid-row-start: 1;
    overflow: hidden;
    position: static;
}
.main-project-box:hover{
    opacity: 0.5;
}
.project-cards{
    position:absolute;
    top:800px;
    color: var(--c-secondary);
    background-color: var(--c-primary);
    font-size: 300%;

}
.project-box{
    border: 1rem solid var(--c-primary);
    margin: 10px;
    overflow: hidden;
}
.project-box:hover{
    opacity: 0.5;
}
p{
    color: var(--c-secondary);
}

#about-me-side{
    grid-column-start: 1;
    grid-row-start: 1;
    border-right: solid 10px;
    color: var(--c-secondary);
    
    
}
#work-side{
    grid-column-start: 1;
    grid-row-start: 2;
    border-right: solid 10px;
    color: var(--c-secondary);
    
}
#contact-me-side{
    grid-column-start: 1;
    grid-row-start: 3;
    border-right: solid 10px;
    color: var(--c-secondary);
   
}


.about-me{
    grid-column-start: 2;
    grid-row-start: 1;
    padding: 1rem;
    
    
}
.work{
    grid-column-start: 2;
    grid-row-start: 2;
    padding: 1rem;
    overflow: auto;
    
    
}
.contact-me{
    grid-column-start: 2;
    grid-row-start: 3;
    padding: 1rem;
}
.contact-me ul{
    list-style: none;
    display: inline-flex;
    width: 500px;
    justify-content: space-around;


}
a:hover{
    background-color: var(--c-primary);
    color:var(--c-secondary)
}
.ending{
    height: 200px;
}
@media screen and (max-width:960px){
    div.main-body{
        display: grid;
        grid-template-rows: 5% 10% 5% 70% 5% 5% 
    
    }
}
@media screen and (max-width:320px){
    .main-project-box{
        border: 1rem solid var(--c-primary);
        margin: 10px;
        overflow: hidden;
    }
}