:root{
    --c-primary:#92CCCD;
    --c-secondary:#31343D;
    --c-background:#EDEDF6;
}
*{
    color: var(--c-primary);
    font-family:Arial, Helvetica, sans-serif;
    background-color:var(--c-background);
}
header{
    display: flex;
    justify-content: space-between;
    background-color: var(--c-secondary);
    font-family: 'Montserrat', sans-serif;
    max-height: 100px;
}
header h1{
    text-align: center;
    display: flex;
    justify-content: end;
    background-color: var(--c-secondary);

}
header nav ul{
    flex-direction: row;
    max-height: 100px;
    display: flex;
    background-color: var(--c-secondary);
    align-items: flex-end;
}
nav{
    background-color: var(--c-secondary);
}
.nav-button{
    list-style: none;
    text-align: center;
    background-color: var(--c-secondary);
    border-width: 5px;
    padding: 10px;
    display: flex;
    flex-wrap: wrap;
    align-items: flex-end;
}
.hero{
    max-height: 300px;
    max-width:max-content
}
.project-box-grid{
    display: grid;
    grid-template-columns: 50% 50%;
    grid-template-rows: 33% 33% 33%;

}
.main-project-box{
    width: 600px;
    border: 15px solid var(--c-primary);
    padding: 50px;
    margin: 20px;
    grid-column-start: span 2;
    grid-row-start: 1;
    
    
}
.project-box{
    width: 300px;
    border: 15px solid var(--c-primary);
    padding: 50px;
    margin: 20px;
}
.main-body{
    display: grid;
    grid-template-columns: 20% 80%;
    grid-template-rows: 25% 25% 25% 25%;
    margin: 20px;
    color: var(--c-secondary);
    
}
p{
    color: var(--c-secondary);
}

.about-me-side{
    grid-column-start: 1;
    grid-row-start: 1;
    border-right: solid 10px;
    color: var(--c-secondary);
    
    
}
.work-side{
    grid-column-start: 1;
    grid-row-start: 2;
    border-right: solid 10px;
    color: var(--c-secondary);
    
}
.contact-me-side{
    grid-column-start: 1;
    grid-row-start: 3;
    border-right: solid 10px;
    color: var(--c-secondary);
   
}
.resume-side{
    grid-column-start: 1;
    grid-row-start: 4;
    border-right: solid 10px;
    color: var(--c-secondary);
   
   
}
    

.about-me{
    grid-column-start: 2;
    grid-row-start: 1;
    padding: 1rem;
    
    
}
.work{
    grid-column-start: 2;
    grid-row-start: 2;
    padding: 1rem;
    
    
}
.contact-me{
    grid-column-start: 2;
    grid-row-start: 3;
    padding: 1rem;
   
}
.resume{
    grid-column-start: 2;
    grid-row-start: 4;
    padding: 1rem;
        
}
footer ul li{
    list-style: none;
    text-align: center;
    
    display: inline;
    
}

